<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/changing_validation.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">
    <title>forgot password</title>
</head>
<body>
    <section id="form-box" style="height:320px;">
        <h1>Change your password</h1>
        <div id="form">
             <form action="http://localhost:8000/OTS/new-passwrod-save/" method="post" onsubmit="return changeValidate()">
                 {% csrf_token %}
                 <p style="margin:3px;">username</p>
                 <input type="type" name="username" id="username"><br>
                 <p id="error1" style="font-size:15px; color:red;"></p>
                 <p style="margin:3px;">new password</p>
                 <input type="password" name="password" class="password" ><br>
                 <p id="error2" style="font-size:15px; color:red;"></p>
                 <p style="margin:3px;">confirm password</p>
                 <input type="password" name="confirm-password" class="password">
                 <p id="error3" style="font-size:15px; color:red"></p>
                 <input type="submit" value="change" id="submit-button" >
             </form>
        </div>
        <a href="http://localhost:8000/OTS/login/">login</a>
        <span style="color:red;">{{error}}</span>
    </section>
</body>
</html>